[submodule "Parsers-CSV-XML-JSON"]
	path = HW.5.CSV-XML-JSON-parser
	url = https://github.com/imLIVI/Parsers-CSV-XML-JSON.git
[submodule "HW.6.1.UsingJUnit"]
	path = HW.6.1.UsingJUnit
	url = https://github.com/imLIVI/UsingJUnit.git
[submodule "HW.6.2.JUnit+Hamcrest"]
	path = HW.6.2.JUnit+Hamcrest
	url = https://github.com/imLIVI/JUnit-Hamcrest.git
[submodule "HW.7.1.TestingMessageService-Mockito"] 
	path = HW.7.1.TestingMessageService-Mockito/geo-service
	url = https://github.com/imLIVI/geo-service.git
[submodule "HW.7.2.TestingHealthcareService-Mockito"]
	path = HW.7.2.TestingHealthcareService-Mockito/healthcare-service
	url = https://github.com/imLIVI/healthcare-service.git 
[submodule "HW.8.1.Client-ServerApp"]
	path = HW.8.1.Client-ServerApp
	url = https://github.com/imLIVI/ClientServerApp-OSI.git
[submodule "HW.8.2.Client-ServerApp_v2"]
	path = HW.8.2.Client-ServerApp_v2
	url = https://github.com/imLIVI/ClientServerApp--OSI-.git
[submodule "HW.9.1.RequestForListOfCats-HTTP"]
	path = HW.9.1.RequestForListOfCats-HTTP
	url = https://github.com/imLIVI/RequestForListOfCats-HTTP.git
[submodule "HW.9.2.ReadDataAPI_NASA"]
	path = HW.9.2.ReadDataAPI_NASA
	url = https://github.com/imLIVI/ReadDataAPI_NASA-HTTP.git

